body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    word-break: keep-all;
    overflow: hidden;
}

.background-image {
    background-image: url('images/home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Arial', sans-serif; 
}


h1, p {
    margin: 10px;
}

.info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 77.5%;
    font-size: 15px;
}

.info-kr {
    font-family: serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
}

.info-en {
    font-family: cursive, serif;
}

.nav {
    display: inline;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
}

#index img{
    width: 110px;
    height: auto;
    padding-right: 20px;
}

#index :hover {
    transform: scale(1.1); 
    filter: invert(0.8) sepia(1) saturate(5) hue-rotate(135deg) opacity(0.5);
}

#hab img{
    width: 80px;
    height: auto;
}

#hab :hover {
    transform: scale(1.1);
    filter: invert(0.8) sepia(1) saturate(5) hue-rotate(175deg) opacity(0.5);
}

.episodes a { 
    /*cursor: url('/images/click.png'),auto; */
    text-decoration: none;
    color: rgb(154, 152, 152);
    font-family: sans-serif;
}

.shake-index img {
    transition: transform 0.3s ease;
}

.shake-index:hover img {
    animation: shake 0.5s ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}

.rotate-hab img {
    transition: transform 0.3s ease;
}

.rotate-hab:hover img {
    animation: rotate 1s linear infinite;
    transform-origin: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

